@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navbar {
    font-family: 'Staatliches', cursive;
    text-color: black;
  }
  .title {
    text-color: black;
  }
}
